/* ==========================================================================
Footer
========================================================================== */

.footer-version {
    font-size: 12px;
    color: #aaa;
    float: right;
}
